h1{
background-color: cornsilk;

}
.foto1{
position:relative;
left: 30%;

 }
 .foto2{
    position: relative;
    left: 30%;
 }
 
 .foto3{
position: relative;
left: 30%;

 }
 
 h2{
   text-align: center;
   background-color: rgba(173, 151, 123, 0.653);
 }




